#boxes {
    content: "";
    width: 100%;
    height: auto;
    display: flex;
    clear: both;
    position: relative;
  }
  div {
    float: left;
    height: auto;
    padding: 0 10px;
  }
  
  #column1 {
    background-color:#5baa37;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    position: sticky;
  }
  
  #column1 h2{
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
  }

  #column2 {
    background-color:white;
    width: 70vw;
    text-align: center;

    min-height: 100vh;
  }
  #main-heading{
    color: #5baa37;
    font-size: 70px;
  
  }
  #circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    margin-bottom: 20px;
}
#circle img{
  border-radius: 50%;
}

  #column1 div h2 {
    margin: 0 0;
  }
  
.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
width: 60%;
margin: auto;

}

.faq-page {
  
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 20px; 
  background-color: #5baa37;
  box-shadow: 5px 5px 5px 5px grey;
}
.faq-body{
  margin: auto; 
 width: 60%; 
 margin-top: 10px;
 padding: 30px 20px;
 margin-left: 150px;
 margin-right: 80px;
}
.active,
.faq-page:hover {
  background-color: #F9F9F9;
  color: #5baa37;
}

.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.faq-body table{
  margin: auto;
  margin-top: 10px;
}
.faq-body .feedback-container{
  width:500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 5px;
  margin: 7px;
}
.faq-body .feedback-container .name{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
.faq-body .feedback-container .rating{
  color:yellow;
}
.faq-body .feedback-container .date{
  font-size: 19px;
}
.faq-body .feedback-container .content{
  font-size: 23px;
}