body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }


.Wrapper{
   
    height: 100vh ;
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
    align-content: flex-end;
   
   
}

.Wrapper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}
/* .Wrapper iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: -1;
} */
/* video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  } */

.header{
    border-bottom: 1.5px solid white;
    height: 4.5em;
    width: 100vw;
    flex-direction: row;
    position: absolute;
    visibility: hidden;
   
    
    
}
.head1{
    border-left: 1.5px solid white;
    background-color: transparent;
    height: 100%;
    width: 15%;
    ;
}
.head2{
    border-left: 1.5px solid white;
    background-color: transparent;
    height:100%;
    width: 20%;
}
.logo{
    background-color: transparent;
    height: 100%;
    width: 65%;
}

.sign{
    background-color: transparent;
    border: none;
    color: aliceblue;
    height: 100%;
    width: 100%;
    font-size:smaller;
    font-family: Verdana,  sans-serif;

}

.fcontent{
    width: auto; 
    height: auto;
    margin: 0 auto;
    margin-top: 10% ;
    position: relative;
    visibility: hidden;

}


.mline{
    font-size: 8vw;
    color: aliceblue;
    font-family:  Verdana, sans-serif;
    font-weight: bold;
    align-self: center;
  
   
}
#mbutton:hover{
    background-color:#5baa37;
    color: white ;
    border: none;
    transform: scale(1.1);

   
}
#mbutton{
    height: 10%;
    width: 30%;
    margin-top: 7%;
    align-self: center;
    background-color: transparent;
    border: 2px solid aliceblue;
    color: aliceblue;
    font-family:  Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

 @keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}


#mlogo{
    color: #5baa37;
    padding-left: 5%;
    margin-top: 2%;
    font-family:  Verdana, sans-serif;
    font-size: x-large;
    


}
.lg{
    text-decoration: none;
}

#myvidz{
    display: none;
}